Package: pardus-defrag
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-pyqt5, util-linux, e2fsprogs, pkexec
Maintainer: zeus/Pardus forum
Description: Pardus Disk Birleştirici
 Bu araç, EXT4 dosya sistemine sahip disk bölümlerini analiz ederek
 parçalanma skorlarını gösterir ve e4defrag komutunu kullanarak
 birleştirme işlemini başlatabilir.
