[Desktop Entry]
Name=Pardus Disk Birleştirici
GenericName=Disk Birleştirici
Comment=EXT4 diskler için parçalanma analizi ve birleştirme aracı
Exec=pardus-defrag
Icon=fragmenter
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
